fastapi
uvicorn


#for databases
SQLAlchemy
psycopg2
databases # async


#for env files
python-dotenv


#for email validation
pydantic[email]


#hashing
passlib[bcrypt]


#Testing
pytest
requests
pytest-cov